# Ambiente Virtual
.env
venv/
.pyvenv/

# Arquivos de Cache Python
__pycache__/
*.pyc

# Configurações do VSCode
.vscode/

# Relatórios e Logs Gerados
pipeline_analysis_logs.txt
pipeline_analysis_report.json
pipeline_analysis_report.csv

# Configurações do VSCode e Visual Studio
.vscode/
.vs/
